@page "/TestFormSubmit"
@using TodoList.Models

<h3>TestFormSubmit</h3>
<EditForm Model="@TestModel" OnSubmit="SendData" FormName="TestFormSubmit">
    <div class="form-group">
        <div class="col">
            <label>Name</label>
            <InputText class="form-control" @bind-Value="TestModel.Name" />
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</EditForm>

@code {
    private TestModel TestModel = new TestModel();
    
    private void SendData(EditContext editContext)
    {
        Console.WriteLine(TestModel.Name);
    }   

}
